<h3>Developer costs</h3>

{% if developers %}
    <ul>
    {% for developer in developers %}
        <li>{{ developer.name }}</li>
        <li> Hourly Rate - {{ developer.hourly_rate }}</li>
        <li> Hours Worked - {{ developer.hours_worked }}</li>
        <li> Total Developer Cost </li>{{developer.cost}}</li>
    {% endfor %}
    </ul>
    <p>Grand total developer cost:{{grand_total_dev_cost}}</p>
{% else %}
    <p>No developers have been assigned to this project.</p>
{% endif %}

<h3>Billable costs</h3>

{% if billables %}
    <ul>
    {% for billable in billables %}
        <li>{{ billable.name }} - {{ billable.cost }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No billables are available.</p>
{% endif %}

<p>Total Project Cost: {{project_total_cost}}</p>